header {
    background-color: #f9e2c8;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    border-bottom: 4px solid #e4b48c;
}

.header-logo {
    width: 50px;
}

.header-name {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    background-color: #fff3e0;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #e4b48c;
}

.navbar a {
    text-decoration: none;
    color: brown;
    background-color: #f28c8c;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 14px;
    border-radius: 12px;
}

.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

section {
    background-color: #fff8ee;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
}

footer {
    background-color: #f9e2c8;
    text-align: center;
    padding: 15px;
    border-top: 3px solid #e4b48c;
}

.login-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.login-form {
    text-align: center;
    margin: 0 auto;
}

.login-form input{
    width: 100%;
    background-color: #fff8ee;
    border: 1px solid #e4b48c;
    margin-bottom: 20px;
}

.login-button {
    background-color: #f28c8c;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
}

.forgot-password {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.forgot-password input[type="checkbox"] {
    width: 16px;
    margin: 0;
}

.forgot-password label {
    display: inline;
    white-space: nowrap;
}

